
/* Navbar */

.navbar {
	position: 	relative;	
	z-index: 	1;
}

.navbar-brand{
	font-family: Viga;
	font-size: 25px;
}

/* Jumbotron*/

.jumbotron {
	background-image: url(img/Avenger.jpg);		
	background-size: cover;
	height: 450px;
	text-align: center;
	position: 	relative;	
}

.jumbotron .container {
	z-index: 1;
	position: relative;	
}

/*Membuat gradasi hitam pada jumbotron*/
.jumbotron::after {
	content: '';
	display: block;
	width: 	100%;
	height: 80%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
	position: absolute;
	bottom: 0;		
}

.jumbotron .display-4 {
	color: white;
	margin-top: 150px;
	font-weight: 200;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	font-size: 	31px;	
	margin-bottom: 	40px;
}


.jumbotron .display-4 span {
	font-weight: 700;
	color: 	black;
}

/*Utility*/

.tombol {
	text-transform: uppercase;
	border-radius: 40px;
}

.container-card {
	margin: auto;
	width: 900px;
}

/*DEKSTOP Vesion*/

@media (min-width: 992px) {

	.navbar-brand, .nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);

	}

	.nav-link{
		text-transform: uppercase;
		font-size: 13px;
		margin-right: 25px;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid green;
		width: 50%;
		margin:	auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.jumbotron {
		margin-top: -75px;
		height: 640px;
	}

	.jumbotron .display-4 {
		font-size: 	62px;
	}
}